body {
    background-color: #1b1b1b;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: white;
    width: 20.938em;
    height: 33.563rem;
    border-radius: 20px;
}

#conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
    gap: 1.125rem;
}

#question {
    width: 10em;
    height: 3.75rem;
    font-size: 1.438rem;
    line-height: 1.625rem;
    text-align: center;
    color: rgba(96, 96, 96, 1);
}

#question-value {
    font-size: 1.313rem;
    color: rgba(96, 96, 96, 1);
}

.input {

    width: 14.688rem;
    height: 3.125rem;
    border-radius: 5px;
    border: solid 1px #9A9A9A;
}

#button {
    width: 14.688rem;
    height: 3.125rem;
    color: white;
    background-color: #4C3E5A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.input::placeholder {
    position: relative;
    left: 0.625rem;
}

@media (min-width: 768px) {
    .container {
        width: 40.938em;
        height: 52.563rem;
    }

    #conteudo {
        padding: 4em;
        gap: 2.125rem;
    }

    #question {
        width: 88em;
        height: 6.75rem;
        font-size: 56px;
        line-height: 3rem;
    }

    #question-value {
        font-size: 40px;
    }

    .input {
        height: 4.688rem;
        width: 24.688rem;
        font-size: 30px;
    }


    #button {
        width: 24.688rem;
        height: 4.125rem;
        font-size: 25px;
    }
    .input::placeholder {
        font-size: 30px;
    }
    .input:focus{
        font-size: 30px;
    }
    
}

@media (min-width: 1512px) {
    .container {
        width: 47.938em;
        height: 46.563rem;
    }

    #conteudo {
        padding: 5rem;
        gap: 0;
    }

    #question {
        width: 88em;
        height: 3.313rem;
        font-size: 37px;
        line-height: 2.625rem;
    }

    #question-value {
        font-size: 33px;
        margin-bottom: 3.75rem;
    }

    .input {
        height: 3.688rem;
        width: 28.688rem;
        gap: 0;
        margin-bottom: 1.813rem;

    }

    #button {
        width: 28.688rem;
        height: 4.125rem;
    }
    .input::placeholder {
       font-size: 25px;
    }
}