div#toast{
    width: 183px;
    background-color: #E7A018;
    color: #FFFFFF;
    height: 33px;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    position: relative;
    top: 42px;
    font-size: 15px;
}
